# Beispiel für secrets.yaml (nicht einchecken!)
wifi_ssid: "DEIN_SSID"
wifi_password: "DEIN_PASSWORT"
hydroknoten_ap_ssid: "hydroknoten"
hydroknoten_ap_password: "ap_passwort"
dosierung_ap_ssid: "dosierung"
dosierung_ap_password: "ap_passwort"
zeltsensor_ap_ssid: "zeltsensor"
zeltsensor_ap_password: "ap_passwort"
klimaknoten_ap_ssid: "klimaknoten"
klimaknoten_ap_password: "ap_passwort"
kameraknoten_ap_ssid: "kameraknoten"
kameraknoten_ap_password: "ap_passwort"
ota_password: "OTA_PASSWORT"
hydroknoten_ota_password: "OTA_PASSWORT"
dosierung_ota_password: "OTA_PASSWORT"
zeltsensor_ota_password: "OTA_PASSWORT"
klimaknoten_ota_password: "OTA_PASSWORT"
kameraknoten_ota_password: "OTA_PASSWORT"
api_encryption_key: "API_KEY"
ha_url: "http://homeassistant.local:8123"
ha_token: "DEIN_LONG_LIVED_ACCESS_TOKEN_HIER"
mqtt_broker: "192.168.30.86"
mqtt_username: "mqtt_user"
mqtt_password: "mqtt_passwort"
gateway_ip: "192.168.1.1"
subnet_mask: "255.255.255.0"
dns_ip: "8.8.8.8"
hydroknoten_static_ip: "192.168.1.10"
dosierung_static_ip: "192.168.1.11"
zeltsensor_static_ip: "192.168.1.12"
klimaknoten_static_ip: "192.168.1.13"
kameraknoten_static_ip: "192.168.1.14"
ec_cal_1_value: "1.413"
ec_cal_2_value: "12.88"
ph_cal_1_value: "4.0"
ph_cal_2_value: "7.0"
temp_tank_offset: "0.0"
temp_return_offset: "0.0"
ppfd_calibration_factor: "0.003415"
photoperiod_default: "18"
light_ppfd_target: "800"
light_ppfd_min: "200"
light_ppfd_max: "1200"
light_fade_duration: "60"
vpd_optimal_min: "0.8"
vpd_optimal_max: "1.5"
vpd_alarm_min: "0.4"
vpd_alarm_max: "1.6"
ec_target: "1.5"
ec_min: "1.2"
ec_max: "1.8"
ph_target: "5.8"
ph_min: "5.5"
ph_max: "6.2"
